<h1 id="productos-titulo"> Productos </h1>

<div class="productos-container">
  <a href="/">
    <div class="tipo">
      <h2>Refrigeracion</h2>
    </div>
  </a>

  <a href="/">
    <div class="tipo">
      <h2>Lavadoras</h2>
    </div>
  </a>

  <a href="/">
    <div class="tipo">
      <h2>Ventiladores</h2>
    </div>
  </a>

  <a href="/">
    <div class="tipo">
      <h2>Otros</h2>
    </div>
  </a>

</div>
