<div class="content">
  <div class="content-left">
    <img src="images/refrigeracion-hogar.png" />
  </div>
  <div class="content-right">
    <div class="right-text">
      <h1>No man, I don't eat pork</h1>
      <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men.</p>
      <button> Cantactenos </button>
    </div>
  </div>
</div>

<div class="products">
  <h2> Nuestros Productos </h2>
  <div class="items">
    <ul class="panels">
      <li>
        <div class="item-left front">
          <h1>Repuestos de Refrigeracion</h1>
        </div>
        <div class="item-left back">
          <ul>
            <li>Capacitadores</li>
            <li>Timers</li>
            <li>Termicos</li>
            <li>Relé</li>
            <li>y mas...</li>
          </ul>
        </div>
      </li>

      <li>
        <div class="item-left front">
          <h1>Repuestos para Lavadoras</h1>
        </div>
        <div class="item-left back">
          <ul>
            <li>Agitadores</li>
            <li>Transmisiones</li>
            <li>Timers</li>
            <li>Boyas</li>
            <li>y mas...</li>
          </ul>
        </div>
      </li>

      <li>
        <div class="item-left front">
          <h1>Repuestos para Ventiladores</h1>
        </div>
        <div class="item-left back">
          <ul>
            <li>Aspas</li>
            <li>Condensadores</li>
            <li>Bocinas</li>
            <li>Ejes</li>
            <li>y mas...</li>
          </ul>
        </div>
      </li>

      <li>
        <div class="item-left front">
          <h1>Otros Repuestos</h1>
        </div>
        <div class="item-left back">
          <ul>
            <li>Vasos Oster</li>
            <li>Cuchilla Oster</li>
            <li>Regulador de Gas</li>
            <li>Conectores de Bronce</li>
            <li>y mas...</li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</div>
